<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование пароля</title>
    <link rel="stylesheet" href="{% static 'users/red.css' %}">

</head>
<body>
    {% include 'header.html' %}
    <script src="{% static 'users/my_js.js' %}"></script>
    <div class="first">
        {% include 'exit.html' %}
        {% include 'mainpage.html' %}
    </div>
    <div class="change">
        <h3 style="text-align: center;"><b>Редактирование пароля</b></h3>
        <form id="main-change" action="/main/profile/edit_password/" onsubmit="return checkForm(this)" method="post">
            {% csrf_token %}
            <div class="form-row2">
                <label for="pass_1">Старый пароль</label>
                <input id="pass_1" type="password" name="password" placeholder="текущий пароль">
            </div>
            <div class="form-row2">
                <label for="pass_2">Новый пароль</label>
                <input id="pass_2" type="password" name="new_password" placeholder="новый пароль">
            </div>
            <div class="form-row2">
                <label for="pass_3">Подтверждение пароля</label>
                <input id="pass_3" type="password" name="repeat_new_password" placeholder="повторите пароль">
            </div>
            <div class="form-row2">
                <button id="ch" class="enter" type="button" onclick="onClickButton(this)">Показать пароль</button>
            </div>
            <div class="form-row2">
                <button class="enter" type="submit">Сменить</button>
            </div>

        </form>
    </div>
    <div class="inform">
        {% if message %}
            <p style="color: Red;" class="message">{{ message }}</p>
        {% endif %}
        {% if error %}
            {% for e in error %}
            <p style="color: Red;" class="message">{{ e }}</p>
            {% endfor %}
        {% endif %}
        {% for i in help_text %}
            <p>{{ i }}</p>
        {% endfor %}
    </div>

</body>
</html>