<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'courses/style.css' %}">
    <link rel="stylesheet" href="{% static 'users/red.css' %}">
</head>
<body>
    {% include 'header.html' %}
    <div class="exit-arrow">
        {% include 'exit.html' %}
    </div>
    <div class="first">
        {% include 'mainpage.html' %}
    </div>
    <div class="load">
        <p><a href="/media/stat.xlsx" download>Скачать</a></p>
    </div>

</body>
</html>