<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
    <link rel="stylesheet" href="{% static 'users/red.css' %}">
</head>
<body >
    {% include 'header.html' %}
    {% include 'header-2.html' %}

    <main class="maindata">
        <div class="memberdata">
            <h3><b>ПОЛЬЗОВАТЕЛИ</b></h3>
        <div class="single">
            <form class="selection" role="search" action="/main/members/">
                <input class="input-search" type="search" name="search-member" placeholder="поиск пользователей" value="{{  s  }}">
                <button>Найти</button>
            </form>
        </div>
        <div id="mlist" >
            {% for el in page_obj %}
                <div class="user-data">
                    <a class="menu" href="{% url 'member_data' el.id %}" title="Профиль пользователя">
                        <div class="box">
                            <img class="face" src="{{  el.photo.url  }}" alt="Photo">
                        </div>
                        <div class="name">
                            <h4>{{ el.last_name }} {{ el.first_name }}</h4>
                            <i>{{  el.city  }}</i>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="pagination">
            <span>
                <a class="page" href="?page=1">&laquo;</a>
                {%  if page_obj.has_previous  %}
                    <a class="page" href="?page={{  page_obj.previous_page_number  }}">&lsaquo;</a>
                    {%  if page_obj.previous_page_number > 1  %}
                        ...
                    {%  endif  %}
                    <a class="num" href="?page={{  page_obj.number|add:'-1'  }}">{{  page_obj.number|add:'-1'  }}</a>
                {%  endif  %}
            <span class="num-main">{{  page_obj.number  }}</span>
                {%  if page_obj.has_next  %}
                    <a class="num" href="?page={{  page_obj.number|add:'1'  }}">{{  page_obj.number|add:'1'  }}</a>
                    {%  if page_obj.next_page_number < page_obj.paginator.num_pages  %}
                        ...
                    {%  endif  %}
                    <a class="page" href="?page={{  page_obj.next_page_number  }}">&rsaquo;</a>
                {%  endif  %}
                <a class="page" href="?page={{  page_obj.paginator.num_pages  }}">&raquo</a>
            </span>
        </div>
            </div>
    </main>

    <script type="text/javascript" src="{% static 'users/sel.js' %}"></script>
</body>
</html>