<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Справка</title>
    <link rel="stylesheet" href="{% static 'users/red.css' %}">
</head>
<body>
    {% include 'header.html' %}
    {% include 'header-2.html' %}
    <main class="maindata">
        <div class="memberdata">
            <h3><b>ИНФОРМАЦИЯ О ПОЛЬЗОВАТЕЛЕ</b></h3>
            <table>
                <thread>
                    <tr>
                        <th>Пользователь</th>
                        <th>Электронная почта</th>
                        <th>Страна</th>
                        <th>Город</th>
                        <th>Номер телефона</th>
                    </tr>
                </thread>
                <tbody align="center">
                    <tr>
                        <td>{{ member.first_name }} {{ member.last_name }}</td>
                        <td>{{ member.email }}</td>
                        <td>{{ member.country }}</td>
                        <td>{{ member.city }}</td>
                        <td>{{ member.number_telephone }}</td>
                    </tr>
                </tbody>
            </table>
            <form>
                <button formaction="/main/members/">
                    OK
                </button>
            </form>
        </div>

    </main>
</body>
</html>