<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'courses/style.css' %}">
    <link rel="stylesheet" href="{% static 'users/red.css' %}">
</head>
<body>
    {% include 'header.html' %}
    {% include 'header-2.html' %}
    <div class="test-list">
        <p><h2>Результаты:</h2></p>
        <p>{{ at.user }}</p>
        <p>{{ at.start }}</p>
        <p>{{ at.test }}</p>
        <hr>
        {% for res in results %}
            <p><h4>{{ res.question }}</h4></p>
            <p><i>{{ res.right }}</i></p>
            {% for opt in res.options.all %}
                {% if opt.right %}
                    <p>Ваш ответ: <span class="green">{{ opt.text }}</span></p>
                    <p>Верно</p>
                {% else %}
                    <p>Ваш ответ: <span class="red">{{ opt.text }}</span></p>
                    <p>Не верно</p>
                {% endif %}
            {% endfor %}
        <hr>
        {% endfor %}
        {% if at.rezult >= at.test.mark %}
            <p>Тест пройден</p>
        {% else %}
            <p>Тест не пройден</p>
        {% endif %}
        <p>{{ at.rezult }} % </p>


        <a class="enter" href="/main/test/">К списку тестов</a>

    </div>
</body>
</html>